@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-public: "Public Sans", sans-serif;
}

:root {
  --color-1: #0090bc;
  --color-2: #8fb629;
  --color-3: #fce60f;
  --color-4: #f85d1b;
  --color-5: #fd3f8f;
}

body, html {
  @apply font-public font-bold p-0 m-0 text-gray-200
}

a {
  @apply underline 
}

p, li {
  @apply text-lg 
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-2xl
}
