body {
  padding: 0px;
  margin: 0px;
  
  /*TEMP*/
  height: 3000px;
}

section {
  margin: 100px 0px;
}

.slider {
  position: relative;
  transition: left 0.5s ease;
}

.slider-out-left {
  left: calc(-100% + 38vh);
}

.slider-out-right {
  left: calc(100% - 38vh);
}

.slider-in {
  left: 0px;
  right: 0px;
}

.card {
  border: 2px solid black;
  border-radius: 20px 20px;
  box-shadow: 8px 8px;
}

#card__about {
  background-color: #00d696;
  height: 33vh;
  margin: 5vw
}

#card__python {
  background-color: #3571a3;
  height: 33vh;
  margin: 5vw
}

#card__rust {
  background-color: #f05023;
  height: 33vh;
  margin: 5vw
}

#card__yarn-hoard{
  background-color: #a985ff;
  height: 33vh;
  margin: 5vw
}
